<template>
  <router-view></router-view>
  <h1  style="position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      top: 70%;
      ">I'm from App.vue.</h1>
</template>

